body {
  font-family: "Proxima Nova";

  .heading {
    margin-left: 110px;
    padding-top: 40px;
  }

  .header {

    .header-content {
      height: 80px;
      border-bottom: 1px solid #cccccc;

      .menu-top {
        list-style: none;

        .main-logo {
          width: 180px !important;
          margin-left: 40%;
          margin-top: 50px;
        }
        .registration {
          font-size: 20px;
          color: #cccccc;
          position: absolute;
          top:60px;
          right:100px;


          a {
            color: #cccccc;
          }
        }
      }
    }

    .top-bar {
      background-color: white;
      height: 80px;
      display: flex;
      justify-content: center;

      ul {
        background-color: white;
        text-align: center;

        a {
          padding: 25px;
          color: #222222;
        }
      }
    }

  }

  .main-slider {

    .carousel-size {
      height: 450px;
      color: #ffffff;

      .carousel-content {
        margin-top: 10%;
        font-size: 100%;
        text-align: center;

        p {
          margin-top: 170px;
          font-size: 60px;
          font-weight: bold;
        }
        small {
          font-family: 'Times New Roman';
          font-size: 26px;
          padding-bottom: 20px;
        }
      }
    }
  }

  .new-collection {
    background-color: #f4f4f4;

    .bitmap {
      margin-right: 15px;
      height: 600px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('/images/Bitmap.png');
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .bit-side {
      height: 292px;
    }
  }

  .new-products {
    margin-bottom: 30px;

    .bitmap1 {
      height: 300px;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .card-section {
        padding: 0;
      }
    }

    .overlay {
      border-bottom: 1px solid white;
      display: none;
      background: #c36e14;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;

      .overlay-text {
        font-size: 18px;
        font-family: 'Times New Roman';
        border-bottom: 1px #ffffff solid;
      }
    }
    .bitmap1:hover .overlay {
      opacity: 0.7;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .bitmap2 {
      height: 300px;
      margin-left: 15px;
      margin-bottom: 0;
    }
    .bitmap2:hover .overlay {
      opacity: 0.6;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hollow-button {
      text-align: center;

      .hollow {
        border: 1px solid #c36e14;
        padding: 10px 50px;
        margin-top: 15px;
      }
    }

    .second {
      margin-top: 40px;
    }
  }

  .services {

    .large-card {
      height: 500px;
      margin-right: 15px;

      .services-content {
        top: 40%;
        left: 10%;
        width: 250px;
        height: 230px;
        background-color: #ffffff;
        position: absolute;
        margin-right: 15px;

        .subheader {
          margin: 30px;
        }
        .bold-service-text {
          margin: 30px;
          padding-top: 20px
        }
      }
    }
    .img {
      padding-left: 15px;
    }
  }

  .news-letter {

    .newsletter-grid {
      background-color: #c36e14 !important;
      height: 200px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 20px;
      }
    }
  }

  .main-footer {

    .main-grid {
      background-color: #222222;
      color: white;

      .grid-offset {
        margin-top: 80px;
        margin-bottom: 50px;

        .sub-grid {
          list-style: none;
          font-weight: bold;
          margin-bottom: 50px;

          .medium-2 {
            margin-right: 20px;
          }
          a {
            font-weight: 400;
            color: white;
          }
        }
      }

      .copyright-text {
        text-align: center;
        color: grey;
      }
    }
  }

  .collection-1 {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .card-text {
    color: white;

    .in-text {
      font-family: 'Times New Roman';
      font-size: 20px;
      border-bottom: 1px solid white;
      font-weight: 500;
    }

    .bold-text {
      font-size: 20px;
      font-weight: bolder
    }
  }

}
